.location-card {
    transition: all 0.2s ease;
    font-size: 14px;
    padding: 6px 18px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 5px;
    justify-content: space-between;
    height: 100%;
}

.location-card:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.location-card > .card-type {
    font-size: 20px;
    padding: 4px 10px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
    .location-card {
        font-size: 10px;
    }

    .location-card > .card-type {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .location-card > .card-name {
        font-size: 16px;
    }
}
