header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: var(--spacing-header);
    padding: 0px var(--margin-xl);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body:has(#mobile-menu.active) {
    overflow-y: hidden;
}

body:has(#mobile-menu.active) main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-05);
    z-index: 1;
}

@media (max-width: 1000px) {
    main {
        padding: 0px var(--margin-l);
    }
}

@media (max-width: 800px) {
    main {
        padding: 0px var(--margin-s);
    }
}
