:root {
    --header-height: 70px;

    --margin-xl: 100px;
    --margin-l: 40px;
    --margin-s: 10px;
    --spacing-header: calc(var(--header-height) + 20px);
}

header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: var(--spacing-header);
    padding: 0px var(--margin-xl);
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1000px) {
    main {
        padding: 0px var(--margin-l);
    }
}

@media (max-width: 800px) {
    main {
        padding: 0px var(--margin-s);
    }
}
